/* init root */
:root {
    /* init #ff8800 color */
    --color-orange: #ff8800;
    /* water mark */
    --water-mark: url(../assets/image/logo2.png);
    /* init font */
    --font_size: 18px;
    --invoice-color: #000;
    --typeTest-font: 24px;
    --logo-height: 175px;
}

.mytest {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px dotted #e1e1e1;
    width: 100%;
}

.border-test {
    border-bottom: 1px dotted #e1e1e1;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%
}


.size1,
.size2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.size1 p,
.size2 p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.title {
    font-family: Al-Jazeera-Arabic;
    font-size: 22px;
    color: #2e3f4c;
}

.namet {
    font-family: Cairo;
    font-size: 19px;
    color: var(--color-orange)
}

.certificate {
    font-family: 'play';
    font-weight: bold;
    font-size: 16px
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.header:not(.money) .logo,
.header:not(.money) .left,
.header:not(.money) .right,
.page .header:not(.money) {
    height: var(--logo-height);
}

.header.money,
.header.money .logo,
.header.money .left,
.header.money .right {
    height: 175px;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* border-top: 2px solid var(--color-orange); */
    /* border-bottom: 2px solid var(--color-orange); */
    padding-top: 3px;
    /* padding-bottom: 5px; */
    font-family: Cairo;
    /* font-weight: bold; */
    font-size: 18px;
    text-align: center;
}

.nav p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
    color: #000;
    font-weight: bolder;
}

.navtotal {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 3px solid #2e3f4c;
    padding-top: 0px;
    padding-bottom: 1px;
    font-family: Cairo;
    font-size: 18px;
    text-align: center;
    width: 99%;
}

.navtotal p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
}

.name,
.agesex,
.paid,
.vid,
.prd,
.refby {
    margin: 2px;
    padding: 2px;
    border: 1px solid #000;
    /* border-radius: 4px; */
    resize: vertical;
    background-color: #fff;
    color: #000;
    width: 12%;
    height: 42px;
    font-weight: bolder;
}

.namego,
.agesexgo,
.paidgo,
.vidgo,
.prdgo,
.refbygo {
    margin: 2px;
    padding: 2px;
    border: 1px solid #000;
    /* border-radius: 4px; */
    resize: vertical;
    background-color: white;
    width: 35%;
    height: 42px;
}

.namett,
.agesext,
.paidt,
.vidt,
.prdt,
.refbyt {
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    resize: vertical;
    background-color: var(--color-orange);

}

.namett p,
.agesext p,
.paidt p,
.vidt p,
.prdt p,
.refbyt p {
    color: #fff !important;
}

.namegot,
.agesexgot,
.paidgot,
.vidgot,
.prdgot,
.refbygot {
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    resize: vertical;
    background-color: white;
    width: 12%
}

.paidgot,
.vidgot {
    width: 23.5%
}

.tester {
    margin: 0px 20px;
}

.typetest {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 3px; */
    margin-bottom: 3px;
    padding: 2px;
    border-bottom: 2px solid var(--color-orange);
    border-radius: 0px;
    resize: vertical;
    font-weight: bold;
    margin-top: 40px;
    /* display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 4px;
    resize: vertical;
    background-color: #e1e1e1;
    width: 100%;
    justify-content: center; */
}

/* get .tester first chilt with class typetest */
.tester .typetest:first-child  {
    margin-left: 15px;
}

.typetest p {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 8px;
    /* margin-inline-start: 10px; */
    margin-inline-end: 10px;
    font-family: 'play';
    font-size: var(--typeTest-font);
    /* font-weight: bold; */
    color: #000000;
}

.typetest.sp p {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.sections {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 4px;
    resize: vertical;
    background-color: #e1e1e1;
    background-color: var(--color-orange);
    width: 100%;
    justify-content: center;
    /* display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    border-bottom: 2px solid var(--color-orange);
    border-radius: 0px;
    resize: vertical; */
}

#invoice-CBC5Diff .page .border-test p {
    font-size: 14px;
}

#invoice-CBC3Diff .page .border-test p {
    font-size: 16px;
}

#invoice-GeneralUrineExaminationGUE .page .testname p,
#invoice-GeneralUrineExaminationGUE .page .testresult p,
#invoice-GeneralUrineExaminationGUE .page .testnormal p,
#invoice-GeneralStoolExaminationGSE .page .testname p,
#invoice-GeneralStoolExaminationGSE .page .testresult p,
#invoice-GeneralStoolExaminationGSE .page .testnormal p {
    font-size: 14px;
}

.page .typetest:has(~ .strc-test)>p,
.page .sections:has(~ .strc-test) p {
    font-size: 22px !important;
}

.sections p {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 8px;
    margin-inline-end: 10px;
    font-family: 'play';
    font-size: var(--font_size);
    font-weight: bold;
    color: var(--invoice-color);
}

.testname,
.testresult,
.testnormal {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1px 0;
    padding: 2px;
    resize: vertical;
}

.testname {
    width: 5%;
}

.testresult {
    width: 81%;
}

.testnormal {
    width: 12%;
}

.total {
    width: 70%;
}

.total p {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 7px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-family: 'play';
    font-size: 20px;
    font-weight: bold;
    color: #2e3f4c;
    text-align: center;
}

.center .testname p,
.center .testresult p,
.center .testnormal p {
    display: block;
    margin-block-start: 2px;
    margin-block-end: 3px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-family: 'play';
    font-size: 18px;
    /* font-weight: bold; */
    color: #2e3f4c;
}

.center2 .testname p,
.center2 .testresult p,
.center2 .testnormal p {
    display: block;
    margin-block-start: 2px;
    margin-block-end: 3px;
    margin-inline-start: 5px;
    /* margin-inline-end: 10px; */
    font-family: 'play';
    font-size: var(--font_size);
    font-weight: bold;
    color: #000;
}

.center2 .testname p.border,
.center2 .testresult p.border,
.center2 .testnormal p.border {
    background-color: #e1e1e1 !important;
}

.page {
    width: 100%;
    min-height: 148mm;
    margin: 10mm auto;
    margin-top: 0;
    background: white;
    color: #000 !important;
}


.center {
    height: 335mm;
    margin-left: 45px;
    margin-right: 45px;
    border-top: 3px solid #2e3f4c;
}

.center2 {
    height: 335mm;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 5px solid #2e3f4c;
    position: relative;
}

.center2-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: var(--water-mark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.2;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 80px;
    margin-left: 45px;
    margin-right: 45px;
}

.footer2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 27.6mm;
    border-top: 5px solid #2e3f4c;
    margin-left: 45px;
    margin-right: 45px;
}

.footer .f1,
.footer .f2 {
    font-family: Cairo;
    font-size: 18px;
    text-align: center;
}

.footer2 .f1,
.footer2 .f2 {
    font-family: Cairo;
    font-size: 20px;
    text-align: center;
}

.f1 p,
.f2 p {

    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

/* 
    any .strc-test child or grandchild element with class .testname, .testresult, .testnormal
*/
.strc-test .testname p,
.strc-test .testresult p,
.strc-test .testnormal p,
.strc-test .sections p {
    font-size: var(--font_size);
}

@font-face {
    font-family: 'play';
    src: url('../assets/fonts/play-v17-latin-regular.eot');
    src: local('☺'), url('../assets/fonts/play-v17-latin-regular.woff') format('woff'), url('../assets/fonts/play-v17-latin-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Al-Jazeera-Arabic;
    src: url('../assets/fonts/al-jazeera-arabic-bold.eot');
    src: local('☺'), url('../assets/fonts/al-jazeera-arabic-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Cairo;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cairo/v20/SLXVc1nY6HkvangtZmpcWmhzfH5lWWgcQyyS4J0.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

/* cairo-regular - latin */
@font-face {
    font-family: Cairo;
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/cairo-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/cairo-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/cairo-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/cairo-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/cairo-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/cairo-v20-latin-regular.svg#Cairo') format('svg');
    /* Legacy iOS */
}

@media print {

    html,
    body .page {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        /*Chrome, Safari */
        color-adjust: exact !important;
        /*Firefox*/
    }
}

.testresult .text-info,
.testresult .text-danger {
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
}

.vidt,
.paidt {
    width: 25%;
}