@font-face {
    font-family: "cairo";
    src: url(../plugins/fonts/Cairo/Cairo-VariableFont_wght.ttf);
}

body {
    font-family: Verdana, sans-serif;
    /* background-image: url(../assets/image/backGround.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.global-border{
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.select2-container .select2-selection--single {
    height: 47px;
    padding: 10px;
    font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 14px;
}

.select2-results__option{
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

.searchable-container .items {
    min-width: 33% !important;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 100px;
}

.h-4 {
    font-size: 0.9rem !important;
    padding: 10px;
}

.h-22 {
    font-size: 22px !important;
}

.images img{
    opacity: 1;
    width: 100%;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.images .overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.images .image:hover img {
    opacity: 0.3;
}

.images .image:hover .overlay {
    opacity: 1;
}

.images .overlay i{
    color: #000;
    font-size: 50px;
    cursor: pointer;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .fab-container:hover {
    height: 100%;
  }
  .fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-80px);
  }
  .fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-140px);
  }
  .fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-200px);
  }
  .fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-260px);
  }
  .fab-container:hover .sub-button:nth-child(6) {
    transform: translateY(-320px);
  }
  .fab-container .fab {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #4ba2ff;
    border-radius: 50%;
    z-index: 2;
  }
  .fab-container .fab::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: inherit;
    border-radius: 0 0 10px 0;
    z-index: -1;
  }
  .fab-container .fab .fab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .fab-container .fab .fab-content .material-icons {
    color: white;
    font-size: 48px;
  }
  .fab-container .sub-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: #4ba2ff;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  .fab-container .sub-button:hover {
    cursor: pointer;
  }
  .fab-container .sub-button .material-icons {
    color: white;
    padding-top: 6px;
  }

  .search-tab {
    position: fixed;
    top: 144px;
    left: 50px;
    z-index: 100;
}

.table > thead > tr > th{
    font-size: 18px !important;
}

.table > tbody > tr > td{
  font-size: 18px !important;
}

.modal label{
  font-size: 18px !important;
  color: #000;
}

.modal input[type=number]{
  direction: ltr;
  text-align: center;
}

.overflow-text-hidden{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.nowrap{
  white-space: nowrap;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #3460FD;
}

::selection {
  color: white;
  background: #3460FD;
}

.switch.s-icons.s-outline-invoice-slider{
  color: #85a0ff;
}

.switch.s-outline-invoice-slider input:checked + .slider {
  border: 2px solid #85a0ff;
}

.switch.s-outline-invoice-slider input:checked + .slider:before {
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: 0 1px 15px 1px rgb(52 40 104 / 34%);
}

.switch.s-outline[class*="s-outline-"] .slider:before {
  bottom: 1px;
  right: 1px;
  border: 2px solid #bfc9d4;
  background-color: #bfc9d4;
  color: #ebedf2;
  box-shadow: 0 1px 15px 1px rgb(52 40 104 / 25%);
}

.switch .slider.invoice-slider {
    background-color: #85a0ff;
    border-radius: 20px / 20px;
}

.switch input:not(:checked) + .slider.invoice-slider {
    border: 2px solid #E3E3E3;
    background-color: #E3E3E3;
}

.switch.s-icons .slider.invoice-slider:before{
  content: '';
}

.switch.s-icons input:checked + .slider.invoice-slider:before {
    border-radius: 50%;
}

.switch.s-outline[class*="s-outline-"] .slider.invoice-slider:before {
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
}

.radio{
    background-color: #F2F2F2;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 80px;
    font-size: 14px;
    border-radius: 4px;
}

.radio.low{
    color: #3460fd;
}

.radio.low input{
    accent-color: #3460fd;
}

.radio.high{
    color: #f41718;
}

.radio.high input{
    accent-color: #f41718;
}

.switch.s-icons.all .slider {
  width: 70px;
  height: 23px;
}

.switch.all .slider:before {
  text-align:center;
}
.switch.all.s-icons .slider:before {
  color: #3b3f5c;
  width: 45px;
  content: "All";
}

.switch.s-icons.all input:checked + .slider:before {
  content: "Today";
  color: #fff;
  line-height: 1;
  -webkit-transform: translateX(-21px);
  -ms-transform: translateX(-21px);
  transform: translateX(-21px);
}

.modal-backdrop {
  /* background-color: transparent !important; */
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px){
.topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a {
  justify-content:flex-end;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu .submenu li a i{
  margin-left: 15px;
}
}

.tags-input-wrapper {
  width: 100%;
  min-height: 150px;
  font-size: 0.9rem;
  font-weight: 700;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 11px;
  color: rgb(100, 100, 100);
  background: #f7f7f7;
  box-shadow: inset 3px 3px 2px #d2d2d2,
    inset -3px -3px 0px #ffffff;
  direction: ltr;
}
.tags-input-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  width: 140px;
  margin-left: 8px;
}
.tags-input-wrapper .tag {
  display: inline-block;
  background-color: transparent;
  color: #000;
  border-radius: 40px;
  padding: 0px 3px 0px 7px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px -2px #000;
}
.tags-input-wrapper .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer;
}

.test-item{
  cursor: grab;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0.25rem !important;
  background: linear-gradient(145deg, #dedede, #ffffff);
  box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #ffffff;
  margin: 5px;
  border: none;
  color: #000;
}

.calc-operator{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  font-size: 60px;
  font-size: 25px;
  font-weight: 700;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(145deg, #dedede, #ffffff);
  box-shadow: 5px 5px 10px #dcdcdc,
    -5px -5px 10px #ffffff;
  margin: 5px;
  border: none;
  color: #54068c;
}

.col-cus-md-5 {
  flex-basis: 20%;
  max-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: space-around;
  flex-flow: column;
  flex-wrap: wrap;
}

.col-cus-md-5 .title {
  font-size: 19px;
}
.col-cus-md-5 .namet{
  font-size: 19px;
}
.col-cus-md-5 .certificate{
  font-size: 16px;
}

.col-cus-md-4 {
  flex-basis: 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: space-around;
  flex-flow: column;
  flex-wrap: wrap;
}

.col-cus-md-6 {
  flex-basis: calc(100% / 6);
  max-width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: space-around;
  flex-flow: column;
  flex-wrap: wrap;
}

.col-cus-md-6 .title {
  font-size: 16px;
}
.col-cus-md-6 .namet{
  font-size: 16px;
}
.col-cus-md-6 .certificate{
  font-size: 14px;
}

#sync .all,
#sync .active{
  background-color: var(--mainColor);
}
#sync .all p,
#sync .active p{
  color: #fff;
}

